.propertyBindingExampleClass{
    background-color: blueviolet;
    text-align: center;
    border: 0ch;
}
.highlights{
    background-color: rebeccapurple;
    text-align: center;
    color:yellow;
}
.highlights2{
    background-color:burlywood;
    text-align: center;
    color:red;
}
.blue{
    background-color: aquamarine;
    text-shadow: 0mm;
}
