<p>forms works!</p>

<div class="row">
    <div class="col-md-6">
         <form #myForm="ngForm">
            <div class="mb-3">
                <label for="exampleInputEmail1" class="form-label">Email address</label>
                <input type="email" #name="ngModel" class="form-control" id="exampleInputEmail1" name="email" required="true" ngModel>
                <!--<div id="emailHelp" class="form-text">We'll never share your email with anyone else.</div>-->
                <div>Dirty :{{name.dirty}}</div>
                <div>valid :{{name.valid}}</div>
                <div class="form-text text-danger" *ngIf="name.invalid">please give correct email </div>
            </div>
            <div class="mb-3">
                <label for="exampleInputPassword1" class="form-label">Password</label>
                <input type="password" #psw="ngModel" class="form-control" id="exampleInputPassword1" name="password" required="true" ngModel>
                <div class="form-text text-danger" *ngIf="psw.invalid">given password</div>
            </div>
            <div class="mb-3 form-check">
                <input type="checkbox" class="form-check-input" id="exampleCheck1" ngModel>
                <label class="form-check-label" for="exampleCheck1">Check me out</label>
            </div>
            <button type="submit" class="btn btn-primary" >Submit</button>
        </form>
    </div>
</div>

<div>{{myForm.value | json}}</div>
 